/* 전체 페이지 설정 */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
}

/* 메인 영화 목록 컨테이너 */
.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  /* ✅ 카드 너비에 맞춰 조정 */
  gap: 30px;
  padding: 40px;
  justify-items: stretch;
  /* ✅ 카드가 셀 전체 너비 차지하도록 */
  background-color: #ffffff;

}

/* 검색결과 없음*/
.no-results {
  text-align: center;
  color: #777;
  font-size: 18px;
  margin-top: 40px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 12px 0;
}